:root {
    --title-color: #383838;
    --upload-form-bg: rgb(170, 169, 169);
    --upload-form-border: 1px solid rgb(159, 159, 160);
    --upload-form-shadow: 0 5px 30px rgb(134, 170, 255);
    --upload-form-title-color: #333333;
    --upload-form-paragraph-color: #262626;
    --upload-drop-container-bg: #939393;
    --upload-drop-container-border: 2px dashed rgb(67, 255, 67);
    --upload-drop-container-bg-hover: rgba(0, 140, 255, 0.482);
    --upload-drop-container-border-hover: rgba(255, 0, 0, 0.616);
    --upload-drop-container-text-color: #262626;
    --upload-drop-container-text-color-hover: #222;
    --upload-file-input-bg: #d0cece;
    --file-input-selector-btn: #084cdf;
    --file-input-selector-btn-hover: #4f90ff;
    --photo-row-bg: #cfcfcf;
    --photo-previewcontainer-bg: #767676;
    --photo-previewcontainer-border: 1px solid #ddd;
}

:root.dark-mode {
    --title-color: #cbcbcb;
    --upload-form-bg: rgb(161, 161, 161);
    --upload-form-border: 1px solid rgb(209, 209, 209);
    --upload-form-shadow: 0 5px 30px rgb(175, 255, 223);
    --upload-form-title-color: #494949;
    --upload-form-paragraph-color: #3a3a3a;
    --upload-drop-container-bg: #ababab;
    --upload-drop-container-border: 2px dashed rgb(68, 137, 255);
    --upload-drop-container-bg-hover: rgba(0, 140, 255, 0.164);
    --upload-drop-container-border-hover: rgba(255, 0, 0, 0.616);
    --upload-drop-container-text-color: #3a3a3a;
    --upload-drop-container-text-color-hover: #222;
    --upload-file-input-bg: #cbc7c7;
    --file-input-selector-btn: #084cdf;
    --file-input-selector-btn-hover: #4086ff;
    --photo-row-bg: #cacaca;
    --photo-previewcontainer-bg: #939393;
    --photo-previewcontainer-border: 1px solid #ffffff;
}

.title {
    text-align: center;
    color: var(--title-color);
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% auto;
}

.form {
    background-color: var(--upload-form-bg);
    box-shadow: var(--upload-form-shadow);
    border: var(--upload-form-border);
    border-radius: 20px;
    padding: 2rem .7rem .7rem .7rem;
    text-align: center;
    font-size: 1.125rem;
    max-width: 320px;
}

.form-title {
    color: var(--upload-form-title-color);
    font-size: 1.8rem;
    font-weight: 500;
}

.form-paragraph {
    margin-top: 10px;
    font-size: 0.9375rem;
    color: var(--upload-form-paragraph-color);
}

.drop-container {
    background-color: var(--upload-drop-container-bg);
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 2.1875rem;
    border-radius: 10px;
    border: var(--upload-drop-container-border);
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
    background: var(--upload-drop-container-bg-hover);
    border-color: var(--upload-drop-container-border-hover);
}

.drop-container:hover .drop-title {
    color: var(--upload-drop-container-text-color-hover);
}

.drop-title {
    color: var(--upload-form-paragraph-color);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}

.file-input {
    width: 350px;
    max-width: 100%;
    color: var(--upload-form-paragraph-color);
    padding: 2px;
    background: var(--upload-file-input-bg);
    border-radius: 10px;
    border: 1px solid rgba(8, 8, 8, 0.288);
}

.file-input::file-selector-button {
    margin-right: 20px;
    border: none;
    background: var(--file-input-selector-btn);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

.file-input::file-selector-button:hover {
    background: var(--file-input-selector-btn-hover);
}

.next-button {
    position: relative;
    font-size: 14px;
    letter-spacing: 3px;
    height: 3em;
    padding: 1em 3em;
    margin: 3em auto 2em auto;
    border: none;
    background-color: #c41b54;
    color: #fff;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
}

.next-button::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    height: 0px;
    width: 100%;
    background: rgb(196, 27, 84);
    background: linear-gradient(90deg, rgba(196, 27, 84, 1) 20%, rgba(124, 7, 46, 1) 100%);
    transition: 0.2s;
}

.next-button .labelx {
    position: relative;
}

.next-button .iconx {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    width: 3em;
    position: absolute;
    top: 3em;
    right: 0;
    opacity: 0;
    transition: 0.4s;
}

.next-button:hover::before {
    height: 100%;
}

.next-button:hover .iconx {
    top: 0;
    opacity: 1;
}

.photo-preview-scroll {
    max-height: 19em;
    overflow-y: auto;
    padding: 20px;
    border-radius: 5px;
}

.photo-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5em;
    border: 1px dashed #ff0000;
    background: var(--photo-row-bg);
    border-radius: 33px;
    margin: .5% 0;
}

.photo-left {
    flex: 1;
    text-align: center;
    margin: 0 3%;
    border: 1px solid black;
    border-radius: 10px;
}

.photo-left img {
    max-width: 100%;
    height: auto;
}

.photo-middle {
    flex: 2;
    margin: 0 1%;
    padding: 0 2%;
}

.photo-right {
    flex: 1;
    text-align: center;
    margin: 0 2% 0 1%;
    padding: 1%;
}

.hidden {
    display: none;
}

#photoPreviewContainer {
    height: 27.5em;
    overflow-y: auto;
    padding: 2em;
    background: var(--photo-previewcontainer-bg);
    border-radius: 25px;
    border: 1px solid #ddd;
    margin: 3% auto;
    width: 70%;
}

#photoPreviewContainer::-webkit-scrollbar {
    width: 4px;
}

#photoPreviewContainer::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}

#photoPreviewContainer::-webkit-scrollbar-track {
    background: transparent;
}


#photoPreviewList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: nowrap;
}

.actions {
    margin: 1% auto;
    display: flex;
    justify-content: center;
}

button.upload-button, button.remove-button {
    padding: 3%;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5%;
}

.upload-button:hover {
    background-color: #7cff5f;
    color: #000000;
}

.remove-button:hover {
    background-color: #fc5454;
    color: #000000;
}

.photo-text{
    color: black;
    margin: 2%;
    padding: 1%;
}

.file-name-details {
    color: #000000;
    width: 65%;
    padding: 2%;
    text-align: left;
}

.action-button-upload {
    background: #a370f0;
    color: white;
    font-family: inherit;
    padding: 1% 4% 1% 1%;
    border-radius: 0.9em;
    border: none;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 3em;
    cursor: pointer;
    margin: 0 1%;
}

.action-button-upload .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
}

.action-button-upload:hover .icon {
    width: calc(100% - 0.6em);
}

.action-button-upload .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
}

.action-button-upload:hover .icon svg {
    transform: translateX(0.1em);
}

.action-button-upload:active .icon {
    transform: scale(0.95);
}

/* remove all button */
.action-button-remove {
    padding: 1%;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 0.9em;
    cursor: pointer;
    margin: 0 5%;
}

.action-button-remove:hover {
    background-color: #b30000;
}