<header>
    <nav>
        <ul>
            <li><a href="index.html" class="nav-link">Home</a></li>
            <li><a href="pages/about.html" class="nav-link">About</a></li>
            <li><a href="pages/portfolio.html" class="nav-link">Portfolio</a></li>
            <li><a href="pages/resume.html" class="nav-link">Resume</a></li>
            <li><a href="pages/contact.html" class="nav-link">Contact</a></li>

            <!-- Auth Links (Controlled by JS) -->
            <li><a href="pages/login.html" id="auth-link" class="nav-link">Login</a></li>
            <li><a href="pages/admin.html" id="admin-link" class="nav-link" style="display: none;">Admin</a></li>

            <li id="toggle-btn"><a class="nav-link">Theme</a></li>
        </ul>
    </nav>
</header>